/* display1 56px */
@utility font-display1-bold {
  font-size: 3.5rem; /* 56px */
  line-height: 4.55rem; /* 130% = 72.8px */
  font-weight: 700;
  letter-spacing: -0.0875rem; /* -1.4px */
}

@utility font-display1-semibold {
  font-size: 3.5rem; /* 56px */
  line-height: 4.55rem; /* 130% = 72.8px */
  font-weight: 600;
  letter-spacing: -0.0875rem; /* -1.4px */
}

@utility font-display1-regular {
  font-size: 3.5rem; /* 56px */
  line-height: 4.55rem; /* 130% = 72.8px */
  font-weight: 400;
  letter-spacing: -0.0875rem; /* -1.4px */
}

/* display2 44px */
@utility font-display2-bold {
  font-size: 2.75rem; /* 44px */
  line-height: 3.575rem; /* 130% = 57.2px */
  font-weight: 700;
  letter-spacing: -0.06875rem; /* -1.1px */
}

@utility font-display2-semibold {
  font-size: 2.75rem; /* 44px */
  line-height: 3.575rem; /* 130% = 57.2px */
  font-weight: 600;
  letter-spacing: -0.06875rem; /* -1.1px */
}

@utility font-display2-regular {
  font-size: 2.75rem; /* 44px */
  line-height: 3.575rem; /* 130% = 57.2px */
  font-weight: 400;
  letter-spacing: -0.06875rem; /* -1.1px */
}

/* display3 36px */
@utility font-display3-bold {
  font-size: 2.25rem; /* 36px */
  line-height: 2.925rem; /* 130% = 46.8px */
  font-weight: 700;
  letter-spacing: -0.05625rem; /* -0.9px */
}

@utility font-display3-semibold {
  font-size: 2.25rem; /* 36px */
  line-height: 2.925rem; /* 130% = 46.8px */
  font-weight: 600;
  letter-spacing: -0.05625rem; /* -0.9px */
}

@utility font-display3-regular {
  font-size: 2.25rem; /* 36px */
  line-height: 2.925rem; /* 130% = 46.8px */
  font-weight: 400;
  letter-spacing: -0.05625rem; /* -0.9px */
}

/* heading1 28px */
@utility font-heading1-bold {
  font-size: 1.75rem; /* 28px */
  line-height: 2.275rem; /* 130% 36.4px */
  font-weight: 700;
  letter-spacing: -0.04375rem; /* -0.7px */
}

@utility font-heading1-semibold {
  font-size: 1.75rem; /* 28px */
  line-height: 2.275rem; /* 130% 36.4px */
  font-weight: 600;
  letter-spacing: -0.04375rem; /* -0.7px */
}

@utility font-heading1-regular {
  font-size: 1.75rem; /* 28px */
  line-height: 2.275rem; /* 130% 36.4px */
  font-weight: 400;
  letter-spacing: -0.04375rem; /* -0.7px */
}

/* heading2 24px */
@utility font-heading2-bold {
  font-size: 1.5rem; /* 24px  */
  line-height: 1.95rem; /* 130% 31.2px */
  font-weight: 700;
  letter-spacing: -0.0375rem; /* -0.6px */
}

@utility font-heading2-semibold {
  font-size: 1.5rem; /* 24px  */
  line-height: 1.95rem; /* 130% 31.2px */
  font-weight: 600;
  letter-spacing: -0.0375rem; /* -0.6px */
}

@utility font-heading2-regular {
  font-size: 1.5rem; /* 24px  */
  line-height: 1.95rem; /* 130% 31.2px */
  font-weight: 400;
  letter-spacing: -0.0375rem; /* -0.6px */
}

/* heading3 20px */
@utility font-heading3-bold {
  font-size: 1.25rem; /* 20px */
  line-height: 1.625rem; /* 130% of 1.25rem */
  font-weight: 700;
  letter-spacing: -0.03125rem; /* -0.5px */
}

@utility font-heading3-semibold {
  font-size: 1.25rem; /* 20px */
  line-height: 1.625rem; /* 130% of 1.25rem */
  font-weight: 600;
  letter-spacing: -0.03125rem; /* -0.5px */
}

@utility font-heading3-regular {
  font-size: 1.25rem; /* 20px */
  line-height: 1.625rem; /* 130% of 1.25rem */
  font-weight: 400;
  letter-spacing: -0.03125rem; /* -0.5px */
}

/* body1 18px */
@utility font-body1-bold {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6875rem; /* 27px */
  font-weight: 700;
  letter-spacing: -0.028125rem; /* -0.45px */
}

@utility font-body1-semibold {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6875rem; /* 27px */
  font-weight: 600;
  letter-spacing: -0.028125rem; /* -0.45px */
}

@utility font-body1-regular {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6875rem; /* 27px */
  font-weight: 400;
  letter-spacing: -0.028125rem; /* -0.45px */
}

/* body2 16px */
@utility font-body2-bold {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 700;
  letter-spacing: -0.025rem; /* -0.4px */
}

@utility font-body2-semibold {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 600;
  letter-spacing: -0.025rem; /* -0.4px */
}

@utility font-body2-regular {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
  letter-spacing: -0.025rem; /* -0.4px */
}

/* body3 14px */
@utility font-body3-bold {
  font-size: 0.875rem; /* 14px */
  line-height: 1.3125rem; /* 21px */
  font-weight: 700;
  letter-spacing: -0.021875rem; /* -0.35px */
}

@utility font-body3-semibold {
  font-size: 0.875rem; /* 14px */
  line-height: 1.3125rem; /* 21px */
  font-weight: 600;
  letter-spacing: -0.021875rem; /* -0.35px */
}

@utility font-body3-regular {
  font-size: 0.875rem; /* 14px */
  line-height: 1.3125rem; /* 21px */
  font-weight: 400;
  letter-spacing: -0.021875rem; /* -0.35px */
}

/* body4 12px */
@utility font-body4-bold {
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
  font-weight: 700;
  letter-spacing: -0.01875rem; /* -0.3px */
}

@utility font-body4-semibold {
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
  font-weight: 600;
  letter-spacing: -0.01875rem; /* -0.3px */
}

@utility font-body4-regular {
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
  font-weight: 400;
  letter-spacing: -0.01875rem; /* -0.3px */
}

/* button */
@utility font-button1-medium {
  font-size: 1rem; /* 16px / 16 */
  line-height: 1rem; /* 100% of 1rem */
  font-weight: 500;
  letter-spacing: -0.025rem; /* -0.4px / 16 */
}
@utility font-button2-medium {
  font-size: 0.875rem; /* 14px / 16 */
  line-height: 0.875rem; /* 100% of 0.875rem */
  font-weight: 500;
  letter-spacing: -0.021875rem; /* -0.35px / 16 */
}
@utility font-button3-medium {
  font-size: 0.75rem; /* 12px / 16 */
  line-height: 0.75rem; /* 100% of 0.75rem */
  font-weight: 500;
  letter-spacing: -0.01875rem; /* -0.3px / 16 */
}
